bolt_weather_workflow.json
{
  "name": "Bolt Food Weather Alert System - Final",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.open-meteo.com/v1/forecast",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "latitude",
              "value": "59.437,44.4268,38.7223,-1.2921"
            },
            {
              "name": "longitude",
              "value": "24.7536,26.1025,-9.1393,36.8219"
            },
            {
              "name": "hourly",
              "value": "temperature_2m,precipitation,snowfall,windspeed_10m,weathercode,relative_humidity_2m"
            },
            {
              "name": "forecast_days",
              "value": "2"
            },
            {
              "name": "timezone",
              "value": "auto"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch-weather",
      "name": "Fetch Weather Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "from datetime import datetime\n\nCITIES = [\n    {\n        \"name\": \"Tallinn\",\n        \"country\": \"Estonia\",\n        \"region\": \"Northern Europe\",\n        \"climate\": \"continental-maritime\",\n        \"peakHours\": [11, 12, 13, 18, 19, 20, 21],\n        \"thresholds\": {\n            \"heavyRain\": 5,\n            \"extremeSnow\": 10,\n            \"extremeCold\": -15,\n            \"extremeHeat\": 30,\n            \"highWind\": 60,\n            \"freezingTemp\": 0,\n        },\n    },\n    {\n        \"name\": \"Bucharest\",\n        \"country\": \"Romania\",\n        \"region\": \"Eastern Europe\",\n        \"climate\": \"continental\",\n        \"peakHours\": [11, 12, 13, 18, 19, 20, 21],\n        \"thresholds\": {\n            \"heavyRain\": 10,\n            \"extremeSnow\": 3,\n            \"extremeCold\": -10,\n            \"extremeHeat\": 38,\n            \"highWind\": 50,\n            \"freezingTemp\": 0,\n        },\n    },\n    {\n        \"name\": \"Lisbon\",\n        \"country\": \"Portugal\",\n        \"region\": \"Southern Europe\",\n        \"climate\": \"mediterranean\",\n        \"peakHours\": [12, 13, 14, 19, 20, 21, 22],\n        \"thresholds\": {\n            \"heavyRain\": 15,\n            \"extremeSnow\": 0.1,\n            \"extremeCold\": 5,\n            \"extremeHeat\": 40,\n            \"highWind\": 50,\n            \"freezingTemp\": 2,\n        },\n    },\n    {\n        \"name\": \"Nairobi\",\n        \"country\": \"Kenya\",\n        \"region\": \"Africa\",\n        \"climate\": \"tropical-highland\",\n        \"peakHours\": [11, 12, 13, 18, 19, 20, 21],\n        \"thresholds\": {\n            \"heavyRain\": 20,\n            \"extremeSnow\": 0.1,\n            \"extremeCold\": 10,\n            \"extremeHeat\": 32,\n            \"highWind\": 40,\n            \"freezingTemp\": 12,\n        },\n    },\n]\n\ndef parse_dt(time_value):\n    return datetime.fromisoformat(time_value.replace(\"Z\", \"+00:00\"))\n\ndef round_1(value):\n    return round(value, 1)\n\ndef format_window(times):\n    if not times:\n        return \"Next 24-48 hours\"\n\n    start = parse_dt(times[0])\n    end = parse_dt(times[-1])\n\n    if start.date() == end.date():\n        return f\"{start.strftime('%a %d %b %H:%M')} - {end.strftime('%H:%M')}\"\n\n    return f\"{start.strftime('%a %d %b %H:%M')} - {end.strftime('%a %d %b %H:%M')}\"\n\ndef safe_get(values, index, default=0):\n    try:\n        value = values[index]\n        return default if value is None else value\n    except Exception:\n        return default\n\ndef analyze_weather_alerts(weather_data):\n    all_alerts = []\n\n    for i, city in enumerate(CITIES):\n        data = weather_data[i] if isinstance(weather_data, list) and i < len(weather_data) else weather_data\n\n        if not data or \"hourly\" not in data:\n            continue\n\n        hourly = data[\"hourly\"]\n        times = hourly.get(\"time\", [])\n\n        if not times:\n            continue\n\n        temperatures = hourly.get(\"temperature_2m\", [])\n        precipitation = hourly.get(\"precipitation\", [])\n        snowfall = hourly.get(\"snowfall\", [])\n        windspeed = hourly.get(\"windspeed_10m\", [])\n        weather_codes = hourly.get(\"weathercode\", [])\n        humidity_values = hourly.get(\"relative_humidity_2m\", [])\n\n        max_precip = 0\n        max_snow = 0\n        min_temp = 100\n        max_temp = -100\n        max_wind = 0\n        total_precip = 0\n        peak_hour_issues = []\n        bad_weather_times = []\n        worst_weather_codes = []\n\n        thresholds = city[\"thresholds\"]\n\n        for h in range(len(times)):\n            temp = safe_get(temperatures, h, 0)\n            precip = safe_get(precipitation, h, 0)\n            snow = safe_get(snowfall, h, 0)\n            wind = safe_get(windspeed, h, 0)\n            code = safe_get(weather_codes, h, 0)\n            hour = parse_dt(times[h]).hour\n\n            max_precip = max(max_precip, precip)\n            max_snow = max(max_snow, snow)\n            min_temp = min(min_temp, temp)\n            max_temp = max(max_temp, temp)\n            max_wind = max(max_wind, wind)\n            total_precip += precip\n            worst_weather_codes.append(code)\n\n            is_bad_hour = (\n                precip >= thresholds[\"heavyRain\"] * 0.5\n                or snow >= thresholds[\"extremeSnow\"] * 0.5\n                or wind >= thresholds[\"highWind\"] * 0.7\n                or temp <= thresholds[\"extremeCold\"]\n                or temp >= thresholds[\"extremeHeat\"]\n                or code >= 95\n                or (temp <= thresholds[\"freezingTemp\"] and precip > 0)\n            )\n\n            if is_bad_hour:\n                bad_weather_times.append(times[h])\n\n            if hour in city[\"peakHours\"] and is_bad_hour:\n                peak_hour_issues.append(times[h])\n\n        conditions = []\n        severity = 0\n\n        if max_precip >= thresholds[\"heavyRain\"]:\n            conditions.append({\n                \"type\": \"HEAVY_RAIN\",\n                \"value\": round_1(max_precip),\n                \"unit\": \"mm/h\",\n                \"threshold\": thresholds[\"heavyRain\"],\n            })\n            severity += 3\n\n        if total_precip > thresholds[\"heavyRain\"] * 3:\n            conditions.append({\n                \"type\": \"SUSTAINED_RAIN\",\n                \"value\": round_1(total_precip),\n                \"unit\": \"mm total\",\n                \"threshold\": thresholds[\"heavyRain\"] * 3,\n            })\n            severity += 2\n\n        if max_snow >= thresholds[\"extremeSnow\"]:\n            conditions.append({\n                \"type\": \"SNOW\",\n                \"value\": round_1(max_snow),\n                \"unit\": \"cm\",\n                \"threshold\": thresholds[\"extremeSnow\"],\n            })\n            severity += 4\n\n        if min_temp <= thresholds[\"extremeCold\"]:\n            conditions.append({\n                \"type\": \"EXTREME_COLD\",\n                \"value\": round_1(min_temp),\n                \"unit\": \"°C\",\n                \"threshold\": thresholds[\"extremeCold\"],\n            })\n            severity += 3\n\n        if max_temp >= thresholds[\"extremeHeat\"]:\n            conditions.append({\n                \"type\": \"EXTREME_HEAT\",\n                \"value\": round_1(max_temp),\n                \"unit\": \"°C\",\n                \"threshold\": thresholds[\"extremeHeat\"],\n            })\n            severity += 3\n\n        if max_wind >= thresholds[\"highWind\"]:\n            conditions.append({\n                \"type\": \"HIGH_WIND\",\n                \"value\": round_1(max_wind),\n                \"unit\": \"km/h\",\n                \"threshold\": thresholds[\"highWind\"],\n            })\n            severity += 2\n\n        if min_temp <= thresholds[\"freezingTemp\"] and max_precip > 0:\n            conditions.append({\n                \"type\": \"FREEZING_RAIN_RISK\",\n                \"value\": round_1(min_temp),\n                \"unit\": \"°C with precipitation\",\n            })\n            severity += 4\n\n        if any(code >= 95 for code in worst_weather_codes):\n            conditions.append({\n                \"type\": \"THUNDERSTORM\",\n                \"value\": \"WMO code 95+\",\n            })\n            severity += 3\n\n        if peak_hour_issues:\n            severity += 2\n\n        severity = min(severity, 10)\n\n        if conditions:\n            if severity >= 7:\n                classification = \"CRITICAL\"\n            elif severity >= 5:\n                classification = \"HIGH\"\n            elif severity >= 3:\n                classification = \"MEDIUM\"\n            else:\n                classification = \"LOW\"\n\n            all_alerts.append({\n                \"city\": city[\"name\"],\n                \"country\": city[\"country\"],\n                \"region\": city[\"region\"],\n                \"climate\": city[\"climate\"],\n                \"severity\": severity,\n                \"classification\": classification,\n                \"conditions\": conditions,\n                \"peakHourIssues\": len(peak_hour_issues),\n                \"summary\": {\n                    \"maxPrecip\": round_1(max_precip),\n                    \"totalPrecip\": round_1(total_precip),\n                    \"maxSnow\": round_1(max_snow),\n                    \"minTemp\": round_1(min_temp),\n                    \"maxTemp\": round_1(max_temp),\n                    \"maxWind\": round_1(max_wind),\n                    \"humidity\": max(humidity_values) if humidity_values else None,\n                },\n                \"forecastPeriod\": {\n                    \"from\": times[0],\n                    \"to\": times[-1],\n                    \"riskWindow\": format_window(bad_weather_times),\n                },\n            })\n\n    all_alerts.sort(key=lambda x: x[\"severity\"], reverse=True)\n    significant_alerts = [a for a in all_alerts if a[\"severity\"] >= 3]\n\n    return {\n        \"alerts\": significant_alerts,\n        \"totalCities\": 4,\n        \"alertCount\": len(significant_alerts),\n        \"timestamp\": datetime.utcnow().isoformat() + \"Z\",\n    }\n\nitems = _input.all()\nweather_data = [item[\"json\"] for item in items]\nresult = analyze_weather_alerts(weather_data)\nreturn [{\"json\": result}]\n"
      },
      "id": "threshold-engine",
      "name": "Threshold Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "alert-check",
              "leftValue": "={{ $json.alertCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-alerts",
      "name": "Any Alerts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import time\nimport json\nfrom datetime import datetime\n\ndata = _input.item[\"json\"]\nif hasattr(data, \"to_py\"):\n    data = data.to_py()\n\nalerts = data.get(\"alerts\", [])\n\nif not alerts:\n    return [{\"json\": {\"skip\": True}}]\n\nstatic_data = _getWorkflowStaticData(\"global\")\nif \"sentAlerts\" not in static_data:\n    static_data[\"sentAlerts\"] = {}\n\nnow = int(time.time() * 1000)\nDEDUP_WINDOW = 12 * 60 * 60 * 1000\n\nkeys_to_delete = [\n    k for k, v in static_data[\"sentAlerts\"].items()\n    if now - v > DEDUP_WINDOW\n]\nfor k in keys_to_delete:\n    del static_data[\"sentAlerts\"][k]\n\nnew_alerts = []\nfor alert in alerts:\n    today = datetime.utcnow().isoformat().split(\"T\")[0]\n    conditions = alert.get(\"conditions\", [])\n    cond_types = sorted([c.get(\"type\", \"\") for c in conditions])\n    cond_str = \",\".join(cond_types)\n    city = alert.get(\"city\")\n    classification = alert.get(\"classification\")\n    severity_bucket = alert.get(\"severity\", 0)\n\n    hash_val = f\"{city}-{today}-{cond_str}-{classification}-{severity_bucket}\"\n\n    if hash_val in static_data[\"sentAlerts\"]:\n        continue\n\n    static_data[\"sentAlerts\"][hash_val] = now\n    new_alerts.append(alert)\n\nif not new_alerts:\n    return [{\n        \"json\": {\n            \"skip\": True,\n            \"reason\": \"All alerts already sent within dedup window\"\n        }\n    }]\n\nprompt = f\"\"\"\nYou are an operations dispatcher for Bolt Food.\n\nGenerate concise, practical weather alerts for local Operations Managers.\nThe alert must be readable on a phone in under 30 seconds.\n\nInput weather alerts:\n{json.dumps(new_alerts, indent=2)}\n\nReturn ONLY a valid JSON array in this exact format:\n[\n  {{\n    \"city\": \"City Name\",\n    \"severity_label\": \"⚠️ Heads-up\" or \"🚨 Urgent\" or \"🔴 Critical\",\n    \"headline\": \"Maximum 10 words\",\n    \"impact\": \"Maximum 2 short sentences. Explain delivery delay or courier supply risk.\",\n    \"actions\": [\n      \"Practical Bolt Food operation action, max 12 words\",\n      \"Practical Bolt Food operation action, max 12 words\",\n      \"Practical Bolt Food operation action, max 12 words\"\n    ],\n    \"timing\": \"Use the forecastPeriod.riskWindow value from input\",\n    \"confidence\": \"HIGH\" or \"MEDIUM\",\n    \"reason\": \"One short sentence explaining why this alert triggered\"\n  }}\n]\n\nRules:\n- Do not invent weather data.\n- Use city-specific context.\n- Prefer clear operational language.\n- Good actions include courier incentives, ETA buffers, fleet notification, and monitoring acceptance rate.\n- Output ONLY valid JSON.\n\"\"\"\n\nreturn [{\n    \"json\": {\n        \"prompt\": prompt,\n        \"newAlerts\": new_alerts,\n        \"timestamp\": data.get(\"timestamp\")\n    }\n}]\n"
      },
      "id": "dedup-and-prompt",
      "name": "Dedup & Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=' + $env.GEMINI_API_KEY }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: $json.prompt }] }], generationConfig: { temperature: 0.3, maxOutputTokens: 2048 } }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "gemini-call",
      "name": "Gemini AI - Generate Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        -100
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\nimport re\nfrom datetime import datetime\n\ninput_data = _input.item[\"json\"]\nif hasattr(input_data, \"to_py\"):\n    input_data = input_data.to_py()\n\n# n8n HTTP node may return only Gemini output. For fallback, this node also supports\n# existing newAlerts if your n8n version preserves paired item data. If not, AI parse errors\n# are still returned clearly and can be handled during demo/write-up.\nfallback_alerts = input_data.get(\"newAlerts\", [])\nai_alerts = []\nai_text = \"\"\n\ntry:\n    ai_text = input_data[\"candidates\"][0][\"content\"][\"parts\"][0][\"text\"]\n    cleaned = re.sub(r\"```json\\n?\", \"\", ai_text)\n    cleaned = re.sub(r\"```\\n?\", \"\", cleaned).strip()\n    ai_alerts = json.loads(cleaned)\nexcept Exception:\n    if fallback_alerts:\n        for alert in fallback_alerts:\n            classification = alert.get(\"classification\", \"MEDIUM\")\n            if classification == \"CRITICAL\":\n                severity_label = \"🔴 Critical\"\n            elif classification == \"HIGH\":\n                severity_label = \"🚨 Urgent\"\n            else:\n                severity_label = \"⚠️ Heads-up\"\n\n            condition_names = \", \".join([\n                c.get(\"type\", \"\").replace(\"_\", \" \" ).title()\n                for c in alert.get(\"conditions\", [])\n            ])\n\n            ai_alerts.append({\n                \"city\": alert.get(\"city\"),\n                \"severity_label\": severity_label,\n                \"headline\": condition_names or \"Weather risk detected\",\n                \"impact\": \"Delivery delays and courier supply disruption possible.\",\n                \"actions\": [\n                    \"Monitor courier acceptance rate\",\n                    \"Extend ETA buffers if needed\",\n                    \"Notify local operations team\"\n                ],\n                \"timing\": alert.get(\"forecastPeriod\", {}).get(\"riskWindow\", \"Next 24-48 hours\"),\n                \"confidence\": \"MEDIUM\",\n                \"reason\": \"Rule-based fallback triggered due to AI failure.\"\n            })\n    else:\n        return [{\n            \"json\": {\n                \"error\": \"Failed to parse Gemini response and no fallback alerts were available\",\n                \"raw\": input_data\n            }\n        }]\n\nnow = datetime.utcnow()\ndate_str = now.strftime(\"%A, %B %d, %Y\")\ntime_str = now.strftime(\"%H:%M\")\n\nblocks = [\n    {\n        \"type\": \"header\",\n        \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \"Bolt Food Weather Operations Alert\",\n            \"emoji\": True\n        }\n    },\n    {\n        \"type\": \"context\",\n        \"elements\": [\n            {\n                \"type\": \"mrkdwn\",\n                \"text\": f\"*Date:* {date_str} | *Time:* {time_str} UTC | *Forecast:* next 24-48h | *Next check:* in 6 hours\"\n            }\n        ]\n    },\n    {\"type\": \"divider\"}\n]\n\nfor alert in ai_alerts:\n    actions = alert.get(\"actions\", [])\n    action_text = \"\\n\".join([f\"{i + 1}. {a}\" for i, a in enumerate(actions)])\n\n    blocks.append({\n        \"type\": \"section\",\n        \"text\": {\n            \"type\": \"mrkdwn\",\n            \"text\": f\"*{alert.get('city')}* — {alert.get('severity_label')}\\n*{alert.get('headline')}*\"\n        }\n    })\n\n    blocks.append({\n        \"type\": \"section\",\n        \"text\": {\n            \"type\": \"mrkdwn\",\n            \"text\": (\n                f\"*Impact:* {alert.get('impact')}\\n\\n\"\n                f\"*Timing:* {alert.get('timing')}\\n\"\n                f\"*Confidence:* {alert.get('confidence')}\\n\"\n                f\"*Reason:* {alert.get('reason')}\"\n            )\n        }\n    })\n\n    blocks.append({\n        \"type\": \"section\",\n        \"text\": {\n            \"type\": \"mrkdwn\",\n            \"text\": f\"*Recommended Actions:*\\n{action_text}\"\n        }\n    })\n\n    blocks.append({\"type\": \"divider\"})\n\nblocks.append({\n    \"type\": \"context\",\n    \"elements\": [\n        {\n            \"type\": \"mrkdwn\",\n            \"text\": \"_Generated by Bolt Food Weather Intelligence | AI-assisted operational guidance | Data: Open-Meteo_\"\n        }\n    ]\n})\n\ncity_names = \", \".join([a.get(\"city\", \"\") for a in ai_alerts])\n\nreturn [{\n    \"json\": {\n        \"blocks\": blocks,\n        \"text\": f\"Weather Alert: {city_names}\"\n    }\n}]\n"
      },
      "id": "format-slack",
      "name": "Format Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        -100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.text, blocks: $json.blocks }) }}",
        "options": {}
      },
      "id": "slack-post",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        -100
      ]
    },
    {
      "parameters": {},
      "id": "no-alert",
      "name": "No Alerts Needed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        880,
        150
      ]
    }
  ],
  "connections": {
    "Every 6 Hours": {
      "main": [
        [
          {
            "node": "Fetch Weather Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Weather Data": {
      "main": [
        [
          {
            "node": "Threshold Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Threshold Engine": {
      "main": [
        [
          {
            "node": "Any Alerts?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Alerts?": {
      "main": [
        [
          {
            "node": "Dedup & Build Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Alerts Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup & Build Prompt": {
      "main": [
        [
          {
            "node": "Gemini AI - Generate Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini AI - Generate Alert": {
      "main": [
        [
          {
            "node": "Format Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Slack Message": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1
}
